@using MyBlogMVC.Data
@using MyBlogMVC.Models;
@{
    Layout = "_Layout";
    var profileInfo = (ProfileUpdateModel)ViewBag.ProfileModel;
    var allBlogs = (List<Blog>)ViewBag.AllBlogs;
}
<div class="row">
    <div class="col-lg-3 col-md-4">

        <div class="card mb-3">
            <img src="~/images/hero.jpg" style="max-height:250px; object-fit:cover" class="card-img-top mb-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">@profileInfo.Title</h5>
                <p class="card-text">@profileInfo.Summary</p>
                <a href="@profileInfo.Contact" class="btn btn-primary">Kaynak kodlara git</a>
            </div>
        </div>

        <div class="align-items-center" id="loadingCategoryScreen">
            <strong role="status">Yükleniyor...</strong>
            <div class="spinner-border ms-auto" aria-hidden="true"></div>
        </div>

        <div class="list-group" id="categoryScreen">
        </div>
    </div>

    <div class="col-lg-9">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
        </div>

        
            @foreach (var blog in allBlogs)
            {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/images/@blog.ImageUrl" height="200" width="200" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@blog.Title</h5>
                            <p class="card-text">@blog.ShortDescription</p>
                            <a href="/Blog/BlogDetail/@blog.Id" class="btn btn-primary">Devamını Oku</a>
                            <p class="card-text"><small class="text-body-secondary">Oluşturma tarihi: @blog.CreatedDate.ToShortDateString() @blog.CreatedDate.ToShortTimeString()</small></p>

                        </div>
                    </div>
                </div>
            </div>
            }
        



        <div class="float-end">
            <nav aria-label="Page navigation example text-end">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>

@section Ajax{
    <script>
        $(document).ready(function () {
            let url = '@Url.Action("GetCategories", "Home")';
            $.ajax({
                type: 'GET',
                url: url,
                beforeSend: function () {
                    $("#categoryScreen").css("display", "none");
                    $('#loadingCategoryScreen').css("display", "flex")
                },
                contentType: false,
                cache: false,
                success: function (response) {
                    console.log("gelen response : ", response)
                    $('#loadingCategoryScreen').css("display", "none");

                    let html = '';

                    $("#categoryScreen").css("display", "block");

                    response.forEach(x => {
                        if (x.id == 0) {
                            html += `<a href="#" class="list-group-item list-group-item-action active">${x.definition}</a>`
                        }
                        else {
                            html += `<a href="#" class="list-group-item list-group-item-action">${x.definition}</a>`
                        }

                    })

                    console.log("category screen none oldu")

                    $("#categoryScreen").html(html);
                },
                error: function (error) {
                    console.log("gelen response : ", response)
                    $('#loadingCategoryScreen').css("display", "none")
                    $("#categoryScreen").css("display", "block");
                }


            })

        });
    </script>
}
