@using MyBlogMVC.Data
@using MyBlogMVC.Models;
@model List<MyBlogMVC.Data.Blog>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    var profileInfo = (ProfileUpdateModel)ViewBag.ProfileModel;
    var allBlogs = (List<Blog>)ViewBag.AllBlogs;
    var pageModel = (MyBlogMVC.Models.PageModel)ViewBag.PageModel;
    var searchModel = (MyBlogMVC.Models.BlogSearchModel)ViewBag.SearchModel;
    var categories = (List<Category>)ViewBag.Categories;
}
<div class="row">
    <div class="col-lg-3 col-md-4">

        <div class="card mb-3">
            <img src="~/images/hero.jpg" style="max-height:250px; object-fit:cover" class="card-img-top mb-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">@profileInfo.Title</h5>
                <p class="card-text">@profileInfo.Summary</p>
                <a href="@profileInfo.Contact" class="btn btn-primary">Kaynak kodlara git</a>
            </div>
        </div>

        <div class="list-group">
            @foreach (var category in categories)
            {

                <a class="list-group-item list-group-item-action" asp-action="Index" asp-controller="Home" asp-route-CategoryId="@category.Id">@category.Definition</a>


                @* <a href="Home/Index/?categoryId=@category.Id" class="list-group-item list-group-item-action">@category.Definition</a> *@
            }
        </div>
    </div>

    <div class="col-lg-9">

        <div class="card mb-3">

            <form asp-action="Index" asp-controller="Home" method="get">
                <div class="row p-3">
                    <div class="col-9">
                        <input type="text" name="Title" value="@searchModel.Title" placeholder="Başlık" class="form-control form-control-sm " />
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary btn-sm w-100 float-end">Search</button>
                    </div>

                </div>
            </form>
        </div>
        @if (searchModel != null && (!string.IsNullOrWhiteSpace(searchModel.Title)))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Arama yaptınız !</strong>

                Arama filtreler : @searchModel.Title



                <a asp-action="Index" asp-controller="Home">Filtreleri Kaldır</a>

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }


        @foreach (var blog in Model)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/images/@blog.ImageUrl" height="200" width="200" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@blog.Title</h5>
                            <p class="card-text">@blog.ShortDescription</p>
                            <a href="/Blog/BlogDetail/@blog.Id" class="btn btn-primary">Devamını Oku</a>
                            <p class="card-text"><small class="text-body-secondary">Oluşturma tarihi: @blog.CreatedDate.ToShortDateString() @blog.CreatedDate.ToShortTimeString()</small></p>

                        </div>
                    </div>
                </div>
            </div>
        }




        <div class="float-end">
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        @if (pageModel.ActivePage != 1)
                        {
                            <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-ActivePage="@(pageModel.ActivePage-1)">&laquo;</a>
                        }

                    </li>

                    @for (int i = 1; i <= pageModel.PageCount; i++)
                    {
                        <li class="page-item"><a class="page-link @(pageModel.ActivePage == i?"active":"")" asp-action="Index" asp-controller="Home" asp-route-ActivePage="@i">@i</a></li>
                    }


                    <li class="page-item">
                        @if (pageModel.ActivePage != pageModel.PageCount)
                        {
                            <a class="page-link" asp-action="Index" asp-controller="Home" asp-route-ActivePage="@(pageModel.ActivePage+1)">&raquo;</a>
                        }

                    </li>

                </ul>
            </nav>
        </div>


    </div>
</div>

@section Ajax{
    <script>
        $(document).ready(function () {
            // let url = '@Url.Action("GetCategories", "Home")';
            // $.ajax({
            //     type: 'GET',
            //     url: url,
            //     beforeSend: function () {
            //         $("#categoryScreen").css("display", "none");
            //         $('#loadingCategoryScreen').css("display", "flex")
            //     },
            //     contentType: false,
            //     cache: false,
            //     success: function (response) {
            //         console.log("gelen response : ", response)
            //         $('#loadingCategoryScreen').css("display", "none");

            //         let html = '';

            //         $("#categoryScreen").css("display", "block");

            //         response.forEach(x => {
            //             if (x.id == 0) {
            //                 html += `<a href="#" class="list-group-item list-group-item-action active">${x.definition}</a>`
            //             }
            //             else {
            //                 html += `<a href="Home/Index/?categoryId=${x.id}" class="list-group-item list-group-item-action">${x.definition}</a>`
            //             }

            //         })
            //         console.log("category screen none oldu")

            //         $("#categoryScreen").html(html);
            //     },
            //     error: function (error) {
            //         console.log("gelen response : ", response)
            //         $('#loadingCategoryScreen').css("display", "none")
            //         $("#categoryScreen").css("display", "block");
            //     }


            // })

        });
    </script>
}
